.reviewsFilterPopup {
    position: absolute;
    top: 50px;
    background: #FFF8ED;
    border: 3px dashed #F2994A;
    width: 370px;
    padding: 18px 32px;
    z-index: -1;
    height: 0;
    transition: .7s;
    overflow: hidden;
    opacity: 0;
    &-show{
        z-index: 5;
        height: auto;
        height: 890px;
        opacity: 1;
    }
    &_block {
        border-bottom: 1px solid #A5A582;
        padding: 16px 0 26px 0;

        &:last-child {
            border-bottom: none;
        }

        &_title {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            text-transform: capitalize;
            color: #2A2A2A;
            margin-bottom: 20px;
        }

        &_input {
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-transform: capitalize;
            color: #2A2A2A;
            border: 1px solid #2A2A2A;
            border-radius: 10px;
            background-color: transparent;
            padding: 10px 20px;
        }

        &_item {
            display: block;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            color: #2A2A2A;
            margin-top: 17px;

            input {
                border: 1px solid #E5E4E7;
                background-color: transparent;
                margin-right: 8px;
            }
        }

        &_link {
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #F2994A !important;
            margin-top: 17px;
        }

        &_btn {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            color: #FFFFFF !important;
            background: #F2994A !important;
            border-radius: 100px;
            width: 200px;
            height: 45px;
            display: block;
            margin: 0 auto;
            margin-top: 26px;
        }
    }
}


@media screen and (max-width: 768px){
    .reviewsFilterPopup{
        top: 150px;
        left: 50%;
        transform: translate( -50%, 0);
    }
}

@media screen and (max-width: 576px){
    .reviewsFilterPopup{
        width: calc(100% - 10px);
    }
    .reviewsFilterPopup_block_input{
        width: 100%;
    }
}
