.paggination {
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
}
.btn {
    background-color: transparent;
    border: none;
    border: 1px dashed #a5a582;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 10px;
}
.btn svg path {
    transition: fill 0.5s;
}
.noActive svg path {
    fill: #a5a582;
}
.prev__btn {
    transform: rotate(180deg);
}
.pagg_numbers {
    margin: 0 20px;
}
.pagg__number {
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.5s;
}
.pagg__number:hover {
    color: #a5a582;
}
.photo_filter {
    position: absolute;
    border: 2px dashed #f2994a;
    background: #fff8ed;
    top: -10px;
    padding: 20px;
    width: 350px;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    z-index: 10;
    h2 {
        font-size: 18px;
        font-family: "Montserrat";
        font-weight: 700;
    }
    > .photo_filter_top {
        > input {
            width: 200px;
            border-radius: 10px;
            border: 1px solid black;
            background: transparent;
            height: 35px;
            font-weight: 500;
            padding-left: 10px;
            margin-top: 15px;
            margin-left: 5px;
        }
        > div {
            margin-top: 10px;
            margin-left: 5px;
            font-weight: 500;
            input {
                margin-right: 5px;
                background: transparent;
                margin-top: 10px;
            }
            p {
                margin-top: 10px;
                color: #f2994a;
                cursor: pointer;
            }
        }
    }
    .photo_filter_bottom {
        border-top: 1px solid #a5a582;
        border-bottom: 1px solid #a5a582;
        margin-top: 10px;
        padding: 15px 0px;
        > div {
            margin-top: 10px;
            margin-left: 5px;
            font-weight: 500;
            input {
                margin-right: 5px;
                background: transparent;
                margin-top: 10px;
            }
            p {
                margin-top: 10px;
                color: #f2994a;
            }
        }
    }
    > button {
        width: 80%;
        margin: 0 auto;
        height: 35px;
        border-radius: 20px;
        border: none;
        background-color: #f2994a;
        color: white;
        font-weight: 700;
        margin-top: 30px;
    }
}

.photos_filter_block {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: calc(30px + (50 - 30) * ((100vw - 800px) / (1600 - 800)));
    z-index: 3;
    > p {
        cursor: pointer !important;
        font-size: 18px;
        font-weight: 500;
        margin-left: 10px;
    }
    > img {
        height: 18px;
        width: 25px;
        cursor: pointer;
    }
}

@media (max-width: 800px) {
    .photo_filter {
        width: 100%;
        // left: 5%;
    }
    .photos_filter_block {
        width: 100%;
        height: 45px;
        background: #fcf2e7;
        border: 1px dashed #72421c;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        > img {
            width: 25px;
            height: 15px;
        }
        > p {
            font-weight: 700;
            &::after {
                content: "🞃";
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: 550px) {
    .paggination {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .btn {
        width: 50px;
        height: 50px;
        > svg {
            width: 10px;
            height: 20px;
        }
    }
    .pagg_numbers {
        display: flex;
        width: 70%;
        justify-content: space-between;
        // margin: 0;
    }
    .pagg__number {
        margin: 0;
    }
}
