.block2 {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    width: 90%;
    margin: auto;
    margin-top: 140px;
    align-items: center;
    > button {
        margin-top: 50px;
    }
    > .block2_top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .img_block2 {
            width: 49.5%;
            > img {
                width: 100%;
            }
        }
    }
}
@media (max-width: 768px) {
    .block2 {
        margin-top: 70px;
        .block2_top {
            flex-direction: column;
            align-items: center;
            .img_block2 {
                width: 100%;
                margin-top: 20px;
            }
        }
    }
}
