.blockNow1_text {
    font-family: "Alfa Slab One" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 100px;
    text-transform: uppercase;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #e9be8a;
    -webkit-text-fill-color: transparent;
    margin-top: 260px;
    position: relative;
    z-index: 1;
}

.blockNow1 {
    position: relative;
    padding: 100px 0;
}

.blockNow1_imgBlock {
    position: absolute;
    top: 113px;
    right: 0;
    width: 55%;
}

.blockNow1_imgBlock_big {
    width: 100%;
}

.blockNow1_imgBlock_wraper {
    position: relative;
}

.blockNow1_imgBlock_circle {
    position: absolute;
    top: -20%;
    left: -10%;
    width: 20%;
}

@media screen and (max-width: 992px) {
    .blockNow1_text br {
        display: none;
    }

    .blockNow1_text {
        font-size: 50px;
        -webkit-text-stroke-width: 2px;
        margin-top: 160px;
    }
}

@media screen and (max-width: 768px) {
    .blockNow1_text {
        font-size: 30px;
        line-height: 40px;
        -webkit-text-stroke-width: 1px;
        margin-top: 380px;
    }
    .blockNow1_imgBlock_big {
        width: auto;
    }
    .blockNow1_imgBlock {
        width: 80%;
    }
    .blockNow1_imgBlock_circle {
        top: -14%;
        left: -12%;
        width: 28%;
    }
}

@media screen and (max-width: 576px) {
    .blockNow1_imgBlock_circle {
        top: -20%;
        left: -24%;
        width: 190px;
    }
    .blockNow1_imgBlock_big {
        height: 245px;
    }
    .blockNow1_text {
        margin-top: 217px;
    }
}


.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #72421c;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
