.nav_modal {
    width: 75vw;
    max-width: 1500px;
    position: absolute !important;
    border: 2px dashed #f2994a;
    display: flex;
    justify-content: space-around;
    background-color: #fff8ed;
    z-index: 10;
    top: 200%;
    left: -20px;
    transition: 1s;
    padding: 20px 0px;
    li {
        &:hover {
            color: black;
        }
    }
}
