.slick-track {
    display: flex;
}

.block7_main {
    width: 100%;
    background-color: #2a2a2a;
    color: white;
    padding: 50px 0px;

    h1 {
        font-size: calc(24px + (60 - 24) * ((100vw - 350px) / (1400 - 350)));
        // font-family: "Alfa Slab One";
        font-weight: 400;
        text-align: center;
        margin-bottom: 50px;
        text-transform: uppercase;
        padding: 0px 20px;
    }

    .text_review {
        width: 100%;
        // max-width: 1600px;
        margin: auto;
        padding: 50px 0px;
        border-top: 1px dashed #fff;
        border-bottom: 1px dashed #fff;
        // justify-content: space-between;
        .text_review_block {
            cursor: pointer;
            height: 280px;
            max-width: 450px;
            display: inline-flex !important;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            p {
                overflow: auto;
                font-family: "Montserrat";
                width: 100%;
                &_::-webkit-scrollbar {
                    width: 0 !important;
                    height: 0 !important;
                }
                ::-webkit-scrollbar {
                    width: 0;
                }
                // line-height: 200%;
            }

            h5 {
                width: 100%;
                font-family: "Montserrat";
                font-size: 18px;
                margin-top: 20px;
            }

            > div > div {
                display: flex;
                margin-top: 5px;
                align-items: center;

                > p {
                    color: #e9be8a;
                    font-size: 18px;
                    font-weight: bold;
                    margin-left: 10px;
                    margin-top: 5px;
                }

                > img {
                    width: auto;
                    height: 20px;
                }
            }
        }
    }

    .video_review_adap {
        display: none;
        width: 100%;
        margin: auto;
        padding: 50px 0px;
        // border-top: 1px dashed #fff;
        // border-bottom: 1px dashed #fff;

        .video_review_block_adap {
            width: 400px;
            margin-left: 50px;

            > img {
                width: 320px;
                height: 220px;
                object-fit: cover;
                object-position: center;
            }

            > h5 {
                width: 100%;
                font-family: "Montserrat";
                font-size: 18px;
                margin-top: 20px;
            }

            > div {
                display: flex;
                margin-top: 5px;
                align-items: center;

                > p {
                    color: #e9be8a;
                    font-family: "Montserrat";
                    font-size: 18px;
                    font-weight: bold;
                    margin-left: 10px;
                    margin-top: 5px;
                }

                > img {
                    width: auto;
                    height: 20px;
                }
            }
        }
    }

    .video_review {
        display: flex;
        // width: 90%;
        margin: auto;
        // max-width: 1600px;
        margin-top: 50px;
        column-gap: 20px;
        justify-content: center;
        .video_left {
            width: 40%;
            > div {
                width: 100%;
                > img {
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    max-width: 520px;
                    object-fit: cover;
                    background-size: cover;
                }

                > h5 {
                    width: 100%;
                    font-family: "Montserrat";
                    font-size: calc(
                        16px + (18 - 16) * ((100vw - 800px) / (1400 - 800))
                    );
                    margin-top: calc(
                        10px + (20 - 10) * ((100vw - 800px) / (1400 - 800))
                    );
                }

                > div {
                    display: flex;
                    margin-top: 5px;
                    align-items: center;

                    > p {
                        color: #e9be8a;
                        font-family: "Montserrat";
                        font-size: calc(
                            16px + (18 - 16) * ((100vw - 800px) / (1400 - 800))
                        );
                        font-weight: bold;
                        margin-left: 10px;
                        margin-top: 5px;
                    }

                    > img {
                        width: auto;
                        height: calc(
                            15px + (20 - 15) * ((100vw - 800px) / (1400 - 800))
                        );
                    }
                }
            }
        }

        .video_right,
        .video_middle {
            width: 60%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            > div {
                width: 48%;
                margin-bottom: 30px;

                > img {
                    width: 100%;
                    // height: 200px;
                    height: calc(
                        120px + (180 - 100) * ((100vw - 800px) / (1400 - 800))
                    );
                    max-height: 190px;
                    object-fit: cover;
                    object-position: center;
                }

                > h5 {
                    width: 100%;
                    font-family: "Montserrat";
                    font-size: calc(
                        16px + (18 - 16) * ((100vw - 800px) / (1400 - 800))
                    );
                    margin-top: 10px;
                }

                > div {
                    display: flex;
                    margin-top: 5px;
                    align-items: center;

                    > p {
                        color: #e9be8a;
                        font-family: "Montserrat";
                        font-size: calc(
                            16px + (18 - 16) * ((100vw - 800px) / (1400 - 800))
                        );
                        font-weight: bold;
                        margin-left: 10px;
                        margin-top: 5px;
                    }

                    > img {
                        width: auto;
                        height: calc(
                            15px + (20 - 15) * ((100vw - 800px) / (1400 - 800))
                        );
                    }
                }
            }
        }
    }
}

@media (max-width: 1124px) {
    .block7_main {
        .video_review {
            .video_left {
                width: 41%;
            }
            .video_right,
            .video_middle {
                width: 58%;
            }
        }
    }
}

@media (max-width: 1024px) {
    .block7_main {
        .video_review {
            .video_left {
                width: 43%;
            }
            .video_right,
            .video_middle {
                width: 57%;
            }
        }
    }
}

@media (max-width: 950px) {
    .block7_main {
        .video_review {
            .video_left {
                width: 46%;
            }
            .video_right,
            .video_middle {
                width: 54%;
            }
        }
    }
}

@media (max-width: 880px) {
    .block7_main {
        .video_review {
            .video_left {
                width: 47%;
            }
            .video_right,
            .video_middle {
                width: 53%;
            }
        }
    }
}

@media (max-width: 820px) {
    .block7_main {
        .video_review {
            .video_left {
                width: 48%;
            }
            .video_right,
            .video_middle {
                width: 52%;
            }
        }
    }
}

@media (max-width: 768px) {
    .block7_main {
        .video_review_adap {
            display: block;
        }

        .video_review {
            display: none;
        }
    }
    .btn_block {
        margin-bottom: 0px;
    }
}

@media (max-width: 550px) {
    .block7_main h1 {
        font-size: 36px;
    }
}

@media (max-width: 390px) {
    .block7_main .text_review .text_review_block p {
        width: 290px;
    }
}

@media (min-width: 1800px) {
    .block7_main {
        h1 {
            font-size: 60px;
        }
    }
}
