.servBlock3 {
    background: #FCF2E7;
    padding: 110px 0;

    .row {
        flex-wrap: wrap;
    }

    .row2 {
        margin-top: 120px;
    }

    &_title {
        font-family: 'Alfa Slab One';
        font-weight: 400;
        font-size: 60px;
        line-height: 40px;
        color: #F2994A;
    }

    &_subtitle {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        color: #2A2A2A;
        margin-top: 30px;
    }

    &_text {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 20px;
        line-height: 35px;
        color: #2A2A2A;
        margin-top: 12px;
    }

    &_question {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 20px;
        line-height: 50px;
        color: #2A2A2A;
        padding: 20px 0;
        border-bottom: 1px solid #B3B3B4!important;

        &-active {
            color: #72421C;
        }
    }

    &_btn {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #2A2A2A;
        border: 1px solid #2A2A2A;
        border-radius: 50%;
        background-color: transparent;
        width: 200px;
        height: 60px;
        margin: 110px auto 0 auto;
        display: block;
    }
}


@media screen and (max-width: 992px) {
    .servBlock3 {
        .row2 {
            margin-top: 70px;
        }
    }
}

@media screen and (max-width: 768px) {
    .servBlock3 {
        .col-6:nth-child(2) {
            display: none;
        }

        .col-6 {
            width: 100%;
        }
    }
}

@media screen and (max-width: 576px) {
    .servBlock3 {
        &_title {
            font-size: 30px;
            line-height: 41px;
        }

        &_subtitle {
            font-size: 18px;
            line-height: 25px;
        }

        &_text {
            font-size: 16px;
            line-height: 25px;
        }

        &_question {
            font-size: 18px;
            line-height: 25px;
            padding: 22px 0;
        }
        &_btn{
            margin-top: 50px;
        }
        .row2{
            margin-top: 50px;
        }
    }
}
