.fr_server {
    position: relative;
    padding-top: calc(70px + (170 - 70) * ((100vw - 350px) / (1600 - 350)));
    padding-bottom: 30px;
}
.d-flex {
    display: flex;
}
.d-none {
    display: none !important;
}
.transparent_text {
    position: absolute;
    right: -5%;
    top: -10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: calc(32.4px + 3.6vw);
    text-transform: uppercase;
    color: #fff;
    mix-blend-mode: multiply;
    display: inline-block;
    width: 1600px;
    text-align: end;
    text-shadow: 1px 0 1px #a5a582, 0 1px 1px #a5a582, -1px 0 1px #a5a582,
        0 -1px 1px #a5a582;
}
.fr__title {
    font-family: "Alfa Slab One";
    font-style: normal;
    font-weight: 400;
    font-size: calc(30px + (60 - 30) * ((100vw - 350px) / (1600 - 350)));
    line-height: 70px;
    text-transform: uppercase;
    color: #2a2a2a;
    /* margin-top: 100px; */
}
.grid_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    margin-top: 30px;
    width: 100%;
    /* padding: 50px 0; */
}
/* .grid__item:nth-child(3n + 1) {
    margin: 45px 0 45px 0px !important;
} */
.grid__item {
    /* max-width: 200px; */
    width: 1fr;
    /* margin: 45px 0 45px 45px; */
    margin-bottom: 0px;
}

.grid__img {
    /* max-width: 488px; */
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.grid__desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #2a2a2a;
}
.paggination {
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}
.btn {
    background-color: transparent;
    border: none;
    border: 1px dashed #a5a582;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.btn svg path {
    transition: fill 0.5s;
}
.btn:hover svg path {
    fill: #a5a582;
}
.prev__btn {
    transform: rotate(180deg);
}
.pagg_numbers {
    margin: 0 20px;
}
.pagg__number {
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.5s;
}
.pagg__number:hover {
    color: #a5a582;
}

@media (min-width: 2600px) {
    .transparent_text {
        width: 3500px !important;
    }
}
@media (min-width: 1860px) {
    .transparent_text {
        width: 2000px;
    }
}
/* @media (max-width: 1750px) {
    .grid__img {
        max-width: 400px;
        min-width: 400px;
    }
} */
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
    /* .grid__item:nth-child(3n + 1) {
        margin: 35px 0 35px 0px !important;
    } */
    /* .grid__item {
        max-width: 488px;
        margin: 35px 0 35px 35px;
    } */
}
@media (max-width: 1100px) {
    /* .grid__item:nth-child(3n + 1) {
        margin: 25px 0 25px 0px !important;
    } */
    .grid__item {
        max-width: 488px;
        /* margin: 25px 0 25px 25px; */
    }
}

@media (max-width: 850px) {
    .transparent_text {
        text-align: left;
    }

    /* .grid__item:nth-child(1n + 1) {
        margin: 25px 25px 25px 0px !important;
    } */
    .grid__item {
        /* max-width: 488px; */
        width: 1fr;
        /* margin: 25px 0 25px 25px; */
    }
    .grid_block--none {
        display: none;
    }
    .grid_block {
        grid-template-columns: repeat(2, 1fr);
        /* padding-left: 8%; */
    }
    .grid__desc {
        font-size: 14px;
        max-width: 300px;
    }
    .transparent_text {
        width: 940px;
        left: 0;
    }
}
@media (max-width: 750px) {
    /* .grid__item:nth-child(1n + 1) {
        margin: 15px 0 15px 0 !important;
    } */
    .grid__item {
        /* max-width: 360px; */
        /* width: 280px;
        margin: 15px 0 15px 0px; */
    }
    .grid_block {
        margin-top: 50px;
    }
}
@media (max-width: 650px) {
    .paggination {
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    /* .grid__item:nth-child(1n + 1) {
        margin: 10px 0 10px 0 !important;
    } */
    /* .grid__item {
        max-width: 240px;
        width: 170px;
        margin: 10px 0 10px 0px;
    } */
    .grid__desc {
        font-size: 16px;
        width: 240px;
        line-height: 20px;
    }
    /* .fr__title {
        font-size: 30px;
    } */
    .grid_block {
        justify-content: center;
        grid-gap: 15px;
        /* padding: 10px 0;
        padding-left: 8%; */
    }

    .grid__img {
        height: 250px;
    }
}
@media (max-width: 565px) {
    /* .grid__item:nth-child(1n + 1) {
        margin: 10px 0 10px 0 !important;
    }
    .grid__item {
        max-width: 170px;
        width: 170px;
        margin: 10px 0 10px 0px;
    } */
    .grid__desc {
        font-size: 12px;
        width: 170px;
        line-height: 20px;
    }

    .btn {
        width: 60px;
        height: 60px;
    }

    .grid__img {
        height: 200px;
    }
}
@media (max-width: 465px) {
    /* .grid__item:nth-child(1n + 1) {
        margin: 10px 0 10px 0 !important;
    }
    .grid__item {
        max-width: 140px;
        width: 150px;
        margin: 10px 0 10px 0px;
    } */
    .grid__desc {
        font-size: 12px;
        width: 160px;
        line-height: 20px;
    }

    .btn {
        width: 25px;
        height: 25px;
        padding: 5px;
    }
    .btn svg {
        width: 15px;
        height: 15px;
    }
    .pagg__number {
        font-size: 16px;
    }
}
@media (max-width: 356px) {
    /* .grid_block {
        padding-left: 0;
    } */
}
