* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}
.App {
    background-color: #fff8ed;
    overflow-x: hidden;
    position: relative;
}
