@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@300;400;600;700;800&display=swap");

.upNavbar {
    background-color: #e7ddc9;
    height: 50px;
    > div {
        // width: 90%;
        // max-width: 1240px;
        margin: 0 auto;
        display: flex;
        align-items: center;

        position: relative;
        height: 100%;
        > p {
            font-size: 14px;
            font-weight: 500;
            position: absolute;
        }
        > h3 {
            font-size: calc(
                14px + (20 - 14) * ((100vw - 350px) / (1400 - 350))
            );
            color: #72421c;

            margin: auto;
            font-weight: 700;
            // margin-left: 100px;
            > span {
                margin-right: 10px;
            }
        }
        .upn_change {
            font-size: 12px;
            color: #72421c;
            cursor: pointer;
            margin-left: 10px;
        }
    }
}
@media (max-width: 1200px) {
    .upNavbar {
        > div {
            p {
                display: none;
            }
            h3 {
                color: black;
            }
        }
    }
}
@media (max-width: 1400px) {
    .upNavbar {
        > div {
            // .upn_change {
            //     display: none;
            // }
        }
    }
}
@media (min-width: 2000px) {
    .upNavbar {
        > div {
            p {
                font-size: 18px;
            }
            h3 {
                font-size: 22px;
            }
        }
    }
}

.navbar {
    // width: 90%;
    margin: auto;
    display: flex;

    justify-content: end;
    position: relative;
    .d-flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        > a {
            margin-top: 10px;
            transition: color 0.5s;
            &:hover {
                color: #f2994a;
            }
        }
    }
    .navbar_left_block {
        // width: 12%;
        width: 150px;
        position: absolute;
        left: 25px;
        // height: 145px;
        img {
            width: 100%;
        }
    }
    .navbar_right_block {
        border-bottom: 1.6px dashed rgb(42, 42, 42, 0.7);
        width: 90%;
        height: 75px;
        margin-left: -20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar_navigate {
            display: flex;
            align-items: center;
            position: relative;
            font-size: calc(
                10px + (16 - 10) * ((100vw - 800px) / (1400 - 800))
            );
            font-weight: 700;
            > .has__border,
            div {
                position: relative;
                margin: 0 20px;
                cursor: pointer;
            }
            .has__border::after {
                content: "";
                position: absolute;
                width: 1px;
                right: -8px;
                top: 4px;
                height: 60%;
                background: #000;
                // display: block;
            }
        }
        .right_block_buttons {
            .number_btn {
                width: calc(
                    100px + (180 - 100) * ((100vw - 800px) / (1600 - 800))
                );
                max-width: 200px;
                border-radius: 50px;
                border: 2px dashed rgb(42, 42, 42, 0.5);
                background-color: transparent;
                height: 40px;
                font-weight: bold;
                font-size: 14px;
            }
        }
        .adap_logo_block {
            display: none;
        }
    }
    .menu_block {
        display: none;
    }
}
.book_btn {
    width: calc(160px + (250 - 160) * ((100vw - 350px) / (1400 - 350)));
    max-width: 200px;
    height: 40px;
    border-radius: 50px;
    background-color: #a5a582;
    border: none;
    color: white;
    margin-left: 20px;
}
.burger__menu {
    display: none;
}
button {
    cursor: pointer;
}
@media (max-width: 2000px) {
    .navbar_navigate {
        > .has__border,
        div {
            margin: 0 10px !important;
        }
    }
}
@media (max-width: 1150px) {
    .navbar {
        .navbar_right_block {
            width: 89%;
            height: 60px;
        }
        .navbar_left_block {
            width: calc(115px + (135 - 115) * ((100vw - 800px) / (1600 - 800)));
        }
    }
}
@media (max-width: 1000px) {
    .number_btn {
        display: none;
    }
    .navbar {
        .navbar_right_block {
            width: 88%;
            height: 55px;
        }
    }
}
@media (max-width: 768px) {
    .burger__menu {
        overflow: auto;
        display: block !important;
        position: fixed;
        z-index: 20;
        right: 0;
        background-color: #fff8ed;
        height: 100%;
        top: 0;
        transform: translateX(100%);
        transition: all 0.5s;
        &--active {
            transform: translateX(0);
        }
        width: 50vh;
        .navbar_burger {
            padding: 50px 0;
            overflow-y: auto;
            > button {
                margin-top: 40px;
                margin-left: 45px;
            }
            .burger__link {
                font-weight: 700;
                font-size: 18px;
                margin-top: 20px;
                margin-left: 40px;
                transition: color 0.5s;
                cursor: pointer;
                &:hover {
                    color: #f2994a;
                }
            }
        }
        .exit {
            button {
                margin: 20px;
                background-color: transparent;
                border: none;
                font-size: 36px;
                color: #f2994a;
            }
        }
    }

    .navbar {
        .navbar_right_block {
            width: 100%;
            height: 70px;
            padding: 10px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .navbar_navigate {
                display: none;
            }

            .adap_logo_block {
                // width: 20%;
                width: auto;
                display: block;
                height: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    max-width: 55px;
                    max-height: 50px;
                }
            }
            .right_block_buttons {
                .book_btn {
                    margin-left: 0px;
                }
            }
        }

        .navbar_left_block {
            display: none;
        }

        .menu_block {
            display: block;
        }
    }
}

.serv {
    display: flex;
    > img {
        height: 10px;
        margin-top: 5%;
        margin-left: 5px;
        transition: 0.5s;
    }
}
.linia {
    width: 50%;
    height: 2px;
    background-color: #f2994a;
    position: absolute;
    left: -9px;
    bottom: -5px;
    transition: 0.5s;
}
@media (min-width: 1600px) {
    .navbar {
        .navbar_right_block {
            height: 80px;
            .navbar_navigate {
                font-size: 16px;
                > div {
                    margin-right: 15px !important;
                }
                .has__border::after {
                    content: "";
                    right: -10px !important;
                    top: 4px;
                    height: 60%;
                    background: #000;
                    // display: block;
                }
            }
        }
        .navbar_left_block {
            width: 180px;
        }
    }
}
@media (max-width: 450px) {
    .d-flex {
        > a {
            font-size: 14px;
        }
    }
}
@media (max-width: 360px) {
    .d-flex {
        > a {
            font-size: 12px;
        }
    }
}
.nav_modal {
    width: 75vw;
    max-width: 1500px;
    position: absolute !important;
    border: 2px dashed #f2994a;
    display: flex;
    justify-content: space-around;
    background-color: #fff8ed;
    z-index: 10;
    top: 180%;
    left: -20px;
    transition: 1s;
    padding: 30px;
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        justify-content: space-between;
        width: 100%;
        &:hover {
            color: black;
        }
    }
}
