a {
    text-decoration: none;
    color: #2a2a2a !important;
    transition: color 0.5s;
}

.latest-Post {
    margin-bottom: 100px;
    // max-width: 1600px;
    // margin: 0 auto;
    // width: 90%;
    // padding: 50px 0;
}
.the-first-left-post {
    width: 55%;
}
.the-first-right-post {
    width: 45%;
}
.Latest-Post-main {
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.post {
    display: flex;
    align-items: center;
    padding-bottom: 2%;
}

.post1 {
    width: 60%;
}
.about1 {
    width: 40%;
}
.post1 img {
    /* max-width: 785px; */
    width: 100%;
}
.postnot {
    display: flex;
    align-items: center;
    padding-bottom: 2%;
    align-items: center;
}

.postnot img {
    width: 20%;
}
.about1 {
    padding: 20px;
    text-align: left;
    line-height: 1.3;
}
.about11 {
    padding: 5%;
    text-align: left;
    line-height: 1;
}
.about1 p {
    font-family: "Montserrat" !important;
    color: #a5a582;
    font-weight: 600;
}

.about11 {
    color: #a5a582;
    font-weight: 600;
}

.date {
    /* padding-top: 2%; */
    line-height: 40px;
    font-size: 15px;
}

.datenot {
    font-family: "Montserrat" !important;

    line-height: 30px;
    font-size: 14px;
}
.title1 {
    width: 150%;
    font-family: "Montserrat" !important;
    font-weight: 700;
    font-size: calc(18px + (25 - 18) * ((100vw - 800px) / (1600 - 800)));
    color: #a5a582;
}

.titlenot1 {
    width: 120%;
    font-family: "Montserrat" !important;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #a5a582;
}

.titlenot {
    width: 100%;
    line-height: 20px;
    font-size: 15px;
    font-family: "Montserrat" !important;
    font-weight: 700;
    color: #a5a582;
}

.title1:hover,
.titlenot:hover,
.titlenot1:hover {
    text-decoration-line: underline;
}

.postnot img {
    width: 55%;
}
.postnot1 img {
    width: 100%;
    padding-top: 5%;
}
.latest {
    // font-family: 'Alfa Slab One';
    color: #2a2a2a;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    text-transform: uppercase;
}
.the-first-right-post {
    padding-left: 10%;
}
.btn_block {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.latest__btn {
    width: 150px;
    padding: 15px;
    background-color: transparent;
    border: 1px solid #2a2a2a;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 2670px) {
    /* .post1 img {
        width: 500px;
    } */
}
@media (max-width: 768px) {
    .the-first-right-post {
        display: none;
    }
    .the-first-left-post {
        width: 100%;
    }
    .post1 {
        width: 100%;
    }
    .about1 {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }
    .title1 {
        font-size: 20px;
    }
    .latest {
        font-size: 42px;
    }
    .Latest-Post-main {
        margin-top: 0;
    }
}
@media (max-width: 425px) {
    .latest {
        font-size: 43px;
    }
    .post {
        flex-wrap: wrap;
    }
    .post img {
        width: 100%;
        padding-top: 10%;
    }
    .about1 {
        padding: 0px;
    }
    .title1 {
        font-size: 18px;
    }
    .about1 p {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 980px) {
    .latest {
        font-size: 45px;
    }
    .title1 {
        font-size: 12px;
    }
    .date {
        font-size: 10px;
        line-height: 10px;
    }
    /* .post1 img {
        width: 485px;
    } */
    .the-first-right-post {
        padding-left: 13%;
    }
    .postnot img {
        width: 55%;
    }
    .titlenot {
        width: 100%;
        font-size: 11px;
    }
    .datenot {
        line-height: 23px;
        font-size: 10px;
    }
    .titlenot1 {
        font-size: 15px;
    }
    .postnot1 img {
        width: 82%;
        padding-top: 0px;
    }
    .about11 {
        padding: 3%;
    }
    .titlenot1 {
        width: 82%;
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .post {
        flex-direction: column;
        align-items: self-start;
        margin-top: 20px;
    }
    .post1 img {
        /* max-width: 600px; */
        width: 100%;
    }
}
@media (max-width: 385px) {
    .latest {
        font-size: 37px;
    }
}
@media (max-width: 320px) {
    .latest {
        font-size: 37px;
    }
}
@media (max-width: 1024px) {
    .title1 {
        /* font-size: 18px; */
    }
    .postnot1 img {
        width: 100%;
    }
    .about11 {
        /* padding: 0%; */
    }
    .titlenot1 {
        width: 100%;
        font-size: 15px;
    }
}
@media (min-width: 1600px) {
    .title1 {
        font-size: 24px;
    }
}
