.paggination {
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
}
.btn {
    background-color: transparent;
    border: none;
    border: 1px dashed #a5a582;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 10px;
}
.btn svg path {
    transition: fill 0.5s;
}
.noActive svg path {
    fill: #a5a582;
}
.prev__btn {
    transform: rotate(180deg);
}
.pagg_numbers {
    margin: 0 20px;
}
.pagg__number {
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.5s;
}
.pagg__number:hover {
    color: #a5a582;
}
@media (max-width: 550px) {
    .paggination {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .btn {
        width: 50px;
        height: 50px;
        > svg {
            width: 10px;
            height: 20px;
        }
    }
    .pagg_numbers {
        display: flex;
        width: 70%;
        justify-content: space-between;
        // margin: 0;
    }
    .pagg__number {
        margin: 0;
    }
}
