.block6 {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    > div {
        width: calc(200px + (400 - 200) * ((100vw - 350px) / (1600 - 350)));
        > img {
            width: 100%;
        }
    }
}
