a{
  text-decoration: none;
  color: #2a2a2a !important;
  transition: color .5s ;
}
a:hover{
  color: #a5a582 !important;
}
.latest-Post {
    max-width: 2500px;
    margin: 0 auto;
    width: 90%;
    padding: 50px 0;
  }

  .Latest-Post-main {
    /* margin-left: auto; */
    /* margin-right: auto; */
    display: flex;
    justify-content: space-between;
  }
  .post {
    display: flex;
  
    align-items: center;
    padding-top: 2%;
  }
  .post img {
    width: 65%;
    /* height: 234px; */
  }
  .postnot {
    display: flex;
    align-items: center;
    padding-bottom: 2%;
    align-items: center;
  }
  
  .postnot img {
    width: 20%;
  }
  .about1 {
    padding: 20px;
    text-align: left;
    line-height: 1.3;
  }
  .about11 {
    padding: 5%;
    text-align: left;
    line-height: 1;
  }
  .about1 p {
    font-family: Montserrat;
  }
  .date {
    /* padding-top: 2%; */
    line-height: 40px;
    font-size: 15px;
  }
  
  .datenot {
    font-family: Montserrat;
  
    line-height: 30px;
    font-size: 14px;
  }
  .title1 {
    width: 150%;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 25px;
    color: #a5a582;
  }
  .titlenot1 {
    width: 120%;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #a5a582;
  }
  .titlenot {
    width: 100%;
    line-height: 20px;
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 700;
    color: #a5a582;
  }
  .postnot img {
    width: 55%;
  }
  .postnot1 img {
    width: 110%;
    padding-top: 5%;
  }
  .latest {
    font-family: Alfa Slab One;
    color: #2a2a2a;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    text-transform: uppercase;
  }
  .the-first-right-post {
    padding-left: 10%;
  }
  .btn_block{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .latest__btn{
    width: 150px;
    padding: 15px;
    background-color: transparent;
    border: 1px solid #2A2A2A;
    border-radius: 100%;
  }