@media (max-width: 2670px) {
  .post1 img{
    width: 685px;
  }
  }
  @media (max-width:768px) {
    .the-first-right-post {
      display: none;
    }
  }
  @media (max-width: 425px) {
    .latest {
      font-size: 43px;
    }
    
    .post {
      flex-wrap: wrap;
    }
    .post img {
      width: 100%;
      padding-top: 10%;
    }
    .about1 {
      padding: 0px;
    }
    .title1 {
      font-size: 18px;
    }
    .about1 p {
      width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 980px) {
    .latest {
      font-size: 45px;
    }
    .title1 {
      font-size: 12px;
    }
    .date {
      font-size: 10px;
      line-height: 10px;
    }
    .post1 img{
      width: 485px;
    }
    .the-first-right-post {
      padding-left: 13%;
    }
    .postnot img {
      width: 55%;
    }
    .titlenot {
      width: 100%;
      font-size: 11px;
    }
    .datenot {
      line-height: 23px;
      font-size: 10px;
    }
    .titlenot1 {
      font-size: 15px;
    }
    .postnot1 img {
      width: 82%;
      padding-top: 0px;
    }
    .about11 {
      padding: 3%;
    }
    .titlenot1 {
      width: 82%;
      font-size: 15px;
    }
  }
  @media (max-width:785px){
    .post{
      flex-direction: column;
      align-items: self-start;
    }
    .post1 img{
      max-width: 600px;
      width: 100%;
    }
  }
  @media (max-width: 385px) {
    .latest {
      font-size: 37px;
    }
  }
  @media (max-width: 320px) {
    .latest {
      font-size: 37px;
    }
  }
  @media (max-width: 1024px) {
    .title1 {
      font-size: 14px;
    }
    .postnot1 img {
      width: 100%;
    }
    .about11 {
      padding: 0%;
    }
    .titlenot1 {
      width: 100%;
      font-size: 15px;
    }
  }