
.navbar {
    width: 90%;
    margin: auto;
    max-width: 1600px;
    display: flex;
    font-family: "Montserrat";
    justify-content: end;
    position: relative;
    .d-flex{
        display: flex;
        justify-content: space-between;
        width: 100%;
        >a{
            margin-top: 10px;
            transition: color .5s;
            &:hover{
                color:#F2994A ;
            }
        }
    }
    .navbar_left_block {
        // width: 12%;
        width: 150px;
        position: absolute;
        left: 0px;
        // height: 145px;
        img {
            width: 100%;
        }
    }
    .navbar_right_block {
        border-bottom: 1.6px dashed rgb(42, 42, 42, 0.7);
        width: 90%;
        height: 75px;
        margin-left: -20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar_navigate {
            display: flex;
            align-items: center;
            font-size: calc(
                10px + (16 - 10) * ((100vw - 800px) / (1400 - 800))
            );
            font-weight: 700;
            > .has__border, div {
                position: relative;
                margin: 0 20px;
            }
            .has__border::after {
                content: "";
                position: absolute;
                width: 1px;
                right: -8px;
                top: 4px;
                height: 60%;
                background: #000;
                // display: block;
            }
        }
        .right_block_buttons {
            .number_btn {
                width: calc(
                    100px + (180 - 100) * ((100vw - 800px) / (1600 - 800))
                );
                max-width: 200px;
                border-radius: 50px;
                border: 2px dashed rgb(42, 42, 42, 0.5);
                background-color: transparent;
                height: 40px;
                font-weight: bold;
            }
            .book_btn {
                width: calc(
                    160px + (250 - 160) * ((100vw - 350px) / (1400 - 350))
                );
                max-width: 260px;
                height: 40px;
                border-radius: 50px;
                background-color: #a5a582;
                border: none;
                color: white;
                margin-left: 20px;
            }
        }
        .adap_logo_block {
            display: none;
        }
    }
    .menu_block {
        display: none;
    }
}
.burger__menu{
    display: none;
}
button {
    cursor: pointer;
}
@media (max-width: 2500px) {
    .navbar_navigate{
        > .has__border, div{
            margin: 0 10px !important;
        }
    }
}
@media (max-width: 1150px) {
    .navbar {
        .navbar_right_block {
            width: 89%;
            height: 60px;
        }
        .navbar_left_block {
            width: calc(115px + (135 - 115) * ((100vw - 800px) / (1600 - 800)));
        }
    }
}
@media (max-width: 900px) {
    .number_btn {
        display: none;
    }
    .navbar {
        .navbar_right_block {
            width: 88%;
            height: 55px;
        }
    }
}
@media (max-width: 768px) {
    .burger__menu{
        display: block !important;
        position: absolute;
        z-index: 20;
        right: 0;
        background-color: #FFF8ED;  
        height: 100%;
        top: 0;
        transform: translateX(100%);
        transition: all .5s;
        &--active {
            transform: translateX(0);
        }
        .navbar_burger{
            padding: 50px 0;
            .burger__link{
                margin: 20px 10px;
                transition: color .5s;
                cursor: pointer;
                &:hover{
                    color: #F2994A;
                }
            }
        }
        .exit{
            button{
                margin: 10px;
                background-color: transparent;
                border: none;
                font-size: 18px;
                color: #F2994A;
            }
        }
    }
    .navbar {
        .navbar_right_block {
            width: 100%;
            height: 70px;
            padding: 10px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .navbar_navigate {
                display: none;
            }

            .adap_logo_block {
                // width: 20%;
                width: auto;
                display: block;
                height: 100%;
                > img {
                    height: 100%;
                    width: 100%;
                    max-width: 55px;
                    max-height: 50px;
                }
            }
            .right_block_buttons {
                .book_btn {
                    margin-left: 0px;
                }
            }
        }

        .navbar_left_block {
            display: none;
        }

        .menu_block {
            display: block;
        }
    }
}
@media (min-width: 2000px) {
    .navbar {
        .navbar_right_block {
            height: 100px;
            .navbar_navigate {
                font-size: 28px;
            }
        }
        .navbar_left_block {
            width: 200px;
        }
    }
}
@media (max-width:450px){
    .d-flex{
        >a{
            font-size: 14px;
        }
    }
}
@media (max-width:360px){
    .d-flex{
        >a{
            font-size: 12px;
        }
    }
}
